.pista5050, .pistaParar , .pistaSaltar{ 
    -fx-background-size: 150px 150px;
    background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -fx-background-position: center;
    background-position: center;
    -fx-background-color: transparent;
    background-color: transparent;
}

.pista5050 {
    -fx-background-image: url('Pista5050.png');
    background-image: url(Pista5050.png);
}

.pistaSaltar {
    -fx-background-image: url('PistaSaltar.png');
    background-image: url(PistaSaltar.png);
}

.pistaParar {
    -fx-background-image: url('PistaParar.png');
    background-image: url(PistaParar.png);
}

.respuesta{
    -fx-background-color: rgba(180,14,190,255);
    background-color: rgba(180,14,190,255);
    -fx-font-size: 12px; 
    font-size: 12px; 
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box, #ff29fb, 10, 0.7, 0, 0);
    }

    .respuestaSeleccionada{
        -fx-background-color: rgba(241, 90, 34,1);
        background-color: rgba(241, 90, 34,1);
        -fx-font-size: 12px; 
        font-size: 12px; 
        -fx-text-fill: black;
        -fx-effect: dropshadow(two-pass-box, #ff5f00, 10, 0.7, 0, 0);
        -fx-opacity: 1;
            opacity: 1;
        }

        .respuestaCorrecta{
            -fx-background-color: rgb(31, 133, 0);
            background-color: rgb(31, 133, 0);
            -fx-font-size: 12px; 
            font-size: 12px; 
            -fx-text-fill: black;
            -fx-effect: dropshadow(two-pass-box, rgb(31, 133, 0), 10, 0.7, 0, 0);
            -fx-opacity: 1;
            opacity: 1;
        }

        .respuestaIncorrecta{
            -fx-background-color: red;
            background-color: red;
            -fx-font-size: 12px; 
            font-size: 12px; 
            -fx-text-fill: black;
            -fx-effect: dropshadow(two-pass-box, red, 10, 0.7, 0, 0);
            -fx-opacity: 1;
            opacity: 1;
        }

     .txtLogueo, .txtRegistro, .txtNormal{
            -fx-text-fill: #ffffff;
            -fx-font-weight: bold;
            font-weight: bold;
     }
     .txtLogueo{
        -fx-background-color: #570557;
            background-color: #570557;
     }
     
     .txtRegistro{
        -fx-background-color: #E92288;
            background-color: #E92288;
     }

     .txtNormal{
        -fx-font-size:20px;
        font-size:20px;
     }

     .fondoTabla
     {
        -fx-background-image:url('BackGrnd.jpg');
        background-image:url('BackGrnd.jpg');
        -fx-background-repeat: no-repeat;
        background-repeat: no-repeat;
        -fx-background-position: center;
        background-position: center;
        -fx-background-color: transparent;
        background-color: transparent;
        -fx-background-size: 900px 600px;
        background-size: 900px 600px;
     }
     .table-cell {     
        -fx-padding: 0.5em 0.5em 0.1em 0.3em;
        padding: 0.5em 0.5em 0.1em 0.3em;
        -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
        border-color: -fx-box-border -fx-box-border transparent transparent;  
        -fx-border-insets: 0;
    }
 
    .table-view .column-header .label{
        -fx-text-fill: #ffffff;
        -fx-font-size:20px;
        font-size:20px;
        -fx-font-weight: bold;
            font-weight: bold;
        -fx-alignment: CENTER;
    }
    .table-view .column-header, .table-view .filler {
        -fx-background-color: #570557;    
        background-color: #570557;   
        -fx-size: 45;
        size: 45;
        -fx-border-color: -fx-box-border;
        border-color: -fx-box-border;
        -fx-border-width: 0 1 3 0;
        border-width: 0 1 3 0 ;
        -fx-border-insets: 0;
    }
    .table-view .column-header-background {
        -fx-background-color: transparent;
        background-color: transparent;
    }

    .table-row-cell {
        -fx-background-color: #9900ff;
        background-color: #9900ff;
    }
    .table-row-cell .text {
        -fx-fill: #ffffff;
        fill: #ffffff;
        -fx-font-size:20px;
        font-size:20px;
        -fx-font-weight: bold;
            font-weight: bold;
        -fx-alignment: CENTER;
        
 
 }

 .table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  padding: 0;
  -fx-shape: null;
}
.table-view:focused {
    -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
    background-color: transparent ,-fx-box-border,-fx-control-inner-background;
  }
