.pista5050, .pistaParar , .pistaSaltar{ 
    -fx-background-size: 100px 100px;
    background-size: 100px 100px;
    -fx-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -fx-background-position: center;
    background-position: center;
    -fx-background-color: transparent;
    background-color: transparent;
}

.pista5050 {
    -fx-background-image: url('Pista5050.png');
    background-image: url(Pista5050.png);
}

.pistaSaltar {
    -fx-background-image: url('PistaSaltar.png');
    background-image: url(PistaSaltar.png);
}

.pistaParar {
    -fx-background-image: url('PistaParar.png');
    background-image: url(PistaParar.png);
}

.respuesta{
    -fx-background-color: rgba(180,14,190,255);
    background-color: rgba(180,14,190,255);
    -fx-font-size: 12px; 
    font-size: 12px; 
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box, #ff29fb, 10, 0.7, 0, 0);
    }

    .respuestaSeleccionada{
        -fx-background-color: rgba(241, 90, 34,1);
        background-color: rgba(241, 90, 34,1);
        -fx-font-size: 12px; 
        font-size: 12px; 
        -fx-text-fill: black;
        -fx-effect: dropshadow(two-pass-box, #ff5f00, 10, 0.7, 0, 0);
        -fx-opacity: 1;
            opacity: 1;
        }

        .respuestaCorrecta{
            -fx-background-color: rgb(31, 133, 0);
            background-color: rgb(31, 133, 0);
            -fx-font-size: 12px; 
            font-size: 12px; 
            -fx-text-fill: black;
            -fx-effect: dropshadow(two-pass-box, rgb(31, 133, 0), 10, 0.7, 0, 0);
            -fx-opacity: 1;
            opacity: 1;
        }

        .respuestaIncorrecta{
            -fx-background-color: red;
            background-color: red;
            -fx-font-size: 12px; 
            font-size: 12px; 
            -fx-text-fill: black;
            -fx-effect: dropshadow(two-pass-box, red, 10, 0.7, 0, 0);
            -fx-opacity: 1;
            opacity: 1;
        }

     .txtLogueo, .txtRegistro{
        -fx-background-color: #570557;
            background-color: #570557;
            -fx-text-fill: #ffffff;
            -fx-font-weight: bold;
            font-weight: bold;
     }
     .txtLogueo{
        -fx-background-color: #570557;
            background-color: #570557;
     }
     
     .txtRegistro{
        -fx-background-color: #E92288;
            background-color: #E92288;
     }